
# build related
Build
Application/Application.exp
Application/Application.lib
Application/Application.ilk
Application/Application.pdb

# visual studio
Application.opensdf

# windows
Thumbs.db

# savegames
Application/save
