# global settings
* text=auto
* text eol=lf

# text files
*.md text
*.h text
*.c text
*.hpp text
*.cpp text
*.js text
*.vert text
*.frag text
*.mtl text

# binaries
*.exe binary
*.lib binary
*.png binary
*.jpg binary
*.3ds binary
*.obj binary
*.ttf binary

# visual studio
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.user text eol=crlf
